[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=ptb3-matlab -desktop
Name=MATLAB (Psychtoolbox)
GenericName=Scientific computing environment
Icon=/usr/share/icons/matlab.png
Categories=Development;Math;Science
Comment=Scientific computing environment
Comment[zh_CN] = 科学计算环境
StartupNotify=true
StartupWMClass=com-mathworks-util-PostVMInit
