Package: devjam-gpu-x11-xlibre-tearfree-modesetting
Version: 1.6-3
Section: x11
Priority: optional
Architecture: all
Recommends: xlibre
Maintainer: Bob Rosbag <debian@bobrosbag.nl>
Description: Tearfree improvements to the modesetting driver
