[Desktop Entry]
Comment[en_US]=
Comment=
Exec=plasma-restart
Icon=system-reboot
MimeType=
Name[en_US]=Restart Plasma
Name=Restart Plasma
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=HardwareSettings;System;Settings;
