Package: devjam-archive-keyring-legacy
Version: 1.42-1
Section: misc
Priority: optional
Architecture: all
Maintainer: Bob Rosbag <debian@bobrosbag.nl>
Description: Signing key for the dev-jam apt repository (legacy)
